################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/FarukDynamicConnection/bin/Debug/netcoreapp2.1
/UnitTest/obj/Debug/netcoreapp2.1
/DynamicConnections/bin/Debug/netcoreapp2.1
/FarukDynamicConnection/obj/Debug/netcoreapp2.1
/FarukDynamicConnection/obj
/UnitTest/bin/Debug/netcoreapp2.1
/.vs/DynamicConnections/v16
/UnitTest/obj
